<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Workload record{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css"/>

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="/static/js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
        
        
    </head>
    <body>
     
      <audio id="sound">
      <source src={{path_to_audio}} type="audio/wav">
          Your browser does not support the audio element.
      </audio>
                      
      <form method=post>
        
            <p> 
                <button type="submit" name="submit_button" value="1" id="one" class="score">1</button>
                <button type="submit" name="submit_button" value="2" id="two" class="score"> 2 </button>
                <button type="submit" name="submit_button" value="3" id="three" class="score"> 3 </button>
                <button type="submit" name="submit_button" value="4" id="four" class="score"> 4 </button>
                <button type="submit" name="submit_button" value="5" id="five" class="score"> 5 </button>
                <button type="submit" name="submit_button" value="6" id="six" class="score"> 6 </button>
                <button type="submit" name="submit_button" value="7" id="seven" class="score"> 7 </button>
                <button type="submit" name="submit_button" value="8" id="eight" class="score"> 8 </button>
                <button type="submit" name="submit_button" value="9" id="nine" class="score"> 9 </button>
                <button type="submit" name="submit_button" value="10" id="ten" class="score"> 10 </button>
            </p> 
            
            <p>
                <button type="submit" name="submit_button" value="Stop" id="stop" class="general"> Stop </button>
            </p>

            
      </form>        

      </div>


      <!-- <script src="/static/js/read_touch_events.js"></script>-->
      <script src="/static/js/demo_script_src.js">
        </script>

        <script>
        window.onload = (event) => {
             document.getElementById("sound").play(); 
        };
        </script>
    </body>
</html>
