<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
            var timerStart = Date.now();
            var submitted = false;
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Workload record</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css"/>

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="/static/js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->

    </head>
    <body>

        <audio id="sound">
            <source src={{path_to_audio}} type="audio/wav">
            Your browser does not support the audio element.
        </audio>


        <form method=post id="workloadForm">

            <p> <div class='container'>
            <input type="hidden" id="form_hidden_field" name="submit_button" value="">
            <input type="hidden" id="form_hidden_field_elapsedTime" name="elapsedTime" value=0>
            <button type="submit" onclick="delayedSubmit1(event);"  id="one" class="score1">1</button>
            <button type="submit" onclick="delayedSubmit2(event);" id="two" class="score1"> 2 </button>
            <button type="submit" onclick="delayedSubmit3(event);" id="three" class="score1"> 3 </button>
            <!--</div> </p> <p>  <div class='container'> -->
            <button type="submit" onclick="delayedSubmit4(event);" id="four" class="score2"> 4 </button>
            <button type="submit" onclick="delayedSubmit5(event);" id="five" class="score2"> 5 </button>
            <button type="submit" onclick="delayedSubmit6(event);" id="six" class="score2"> 6 </button>
            <button type="submit" onclick="delayedSubmit7(event);" id="seven" class="score2"> 7 </button>
            </div>  </p>  <p>  <div class='container'>
            <button type="submit" onclick="delayedSubmit8(event);" id="eight" class="score3"> 8 </button>
            <button type="submit" onclick="delayedSubmit9(event);" id="nine" class="score3"> 9 </button>
            <button type="submit" onclick="delayedSubmit10(event);" id="ten" class="score3"> 10 </button>
            </div>  </p>
            
            <p>
                <button type="submit" onclick="submitStop(event);" id="stop" class="general"> Stop </button>
            </p>


        </form>


        <script>
            var timeIntervalInSeconds = {{time_int}}
            var timeIntervalInMilliseconds = timeIntervalInSeconds * 1000;

            window.onload = (event) => {
                document.getElementById("sound").play();
                submitted = false;
                setTimeout(forceSubmit,timeIntervalInMilliseconds);
            };

            function forceSubmit() {
                if (!submitted) {
                    document.getElementById("form_hidden_field").value = "0"
                    document.getElementById("form_hidden_field_elapsedTime").value = timeIntervalInSeconds
                    document.getElementById("workloadForm").submit()
                }
            }

            function delayedSubmit() {
                var elapsedTime = Date.now() - timerStart
                
                document.getElementById("form_hidden_field_elapsedTime").value = Math.round(elapsedTime/1000)

                if (elapsedTime < timeIntervalInMilliseconds) {
                    submitted = true;
                    submitTimer = setTimeout(() => {document.getElementById("workloadForm").submit();}, timeIntervalInMilliseconds - elapsedTime)
                }
                //else {
                //    submitTimer = setTimeout(() => {document.getElementById("workloadForm").submit();}, 0)
                //}
            }

            function delayedSubmit1(e) {
                disableButtons()
                e.preventDefault() ;
                document.getElementById("form_hidden_field").value = "1"
                delayedSubmit()
            }
            function delayedSubmit2(e) {
                disableButtons()
                e.preventDefault() ;
                document.getElementById("form_hidden_field").value = "2"
                delayedSubmit()
            }
            function delayedSubmit3(e) {
                disableButtons()
                e.preventDefault() ;
                document.getElementById("form_hidden_field").value = "3"
                delayedSubmit()
            }
            function delayedSubmit4(e) {
                disableButtons()
                e.preventDefault() ;
                document.getElementById("form_hidden_field").value = "4"
                delayedSubmit()
            }
            function delayedSubmit5(e) {
                disableButtons()
                e.preventDefault() ;
                document.getElementById("form_hidden_field").value = "5"
                delayedSubmit()
            }
            function delayedSubmit6(e) {
                disableButtons()
                e.preventDefault() ;
                document.getElementById("form_hidden_field").value = "6"
                delayedSubmit()
            }
            function delayedSubmit7(e) {
                disableButtons()
                e.preventDefault() ;
                document.getElementById("form_hidden_field").value = "7"
                delayedSubmit()
            }
            function delayedSubmit8(e) {
                disableButtons()
                e.preventDefault() ;
                document.getElementById("form_hidden_field").value = "8"
                delayedSubmit()
            }
            function delayedSubmit9(e) {
                disableButtons()
                e.preventDefault() ;
                document.getElementById("form_hidden_field").value = "9"
                delayedSubmit()
            }
            function delayedSubmit10(e) {
                disableButtons()
                e.preventDefault() ;
                document.getElementById("form_hidden_field").value = "10"
                delayedSubmit()
            }
            function submitStop(e) {
                e.preventDefault() ;
                document.getElementById("form_hidden_field").value = "Stop"
                document.getElementById("workloadForm").submit();
            }
            function disableButtons() {
                document.getElementById("one").disabled = true;
                document.getElementById("two").disabled = true;
                document.getElementById("three").disabled = true;
                document.getElementById("four").disabled = true;
                document.getElementById("five").disabled = true;
                document.getElementById("six").disabled = true;
                document.getElementById("seven").disabled = true;
                document.getElementById("eight").disabled = true;
                document.getElementById("nine").disabled = true;
                document.getElementById("ten").disabled = true;
                document.getElementById("stop").disabled = true;
            }

        </script>
    </body>
</html>
